<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About ABC Recruitment</title>
   {% include "style.html" %}
</head>
<body>
  
  <div class="container">
     {% include 'navbar.html'%}
    {% include "banner.html" %}
      <h1 class="mt-2 mb-2">About Us</h1>
  
    <p>
      ABC Recruitment is a leading recruitment agency that specializes in finding top talent in various fields such as data science, frontend development, and backend development. We connect skilled professionals with exciting opportunities in reputable companies.
    </p>
    <h2>Our Mission</h2>
    <p>
      Our mission is to bridge the gap between exceptional candidates and outstanding companies. We strive to match the right individuals with the right organizations to create successful and long-lasting partnerships.
    </p>
    <h2>Why Choose ABC Recruitment?</h2>
    <ul>
      <li>Extensive Network: We have an extensive network of industry connections, allowing us to access exclusive job opportunities.</li>
      <li>Specialized Expertise: Our team of recruiters has in-depth knowledge and expertise in the fields of data science, frontend development, and backend development.</li>
      <li>Personalized Approach: We believe in understanding the unique skills and aspirations of each candidate, tailoring our search to find the perfect fit.</li>
      <li>Confidentiality: We value your privacy and handle all candidate information with the utmost confidentiality.</li>
      <li>Supportive Guidance: Throughout the recruitment process, we offer support and guidance to help candidates succeed in their job search.</li>
    </ul>
    <h2>Contact Us</h2>
    <p>
      If you are a candidate looking for your next career move or a company seeking top talent in data science, frontend development, or backend development, please get in touch with us.
    </p>
    <p>Email: info@abcrecruitment.com</p>
    <p>Phone: +1 (555) 123-4567</p>
  </div>
  {% include "footer.html" %}>
</body>
</html>
