 <div class="container mt-4 mb-4">
    <div class='row'>
      <div class='col-md-7 title' style='display: grid;align-content: center;'>
        <p class="text-center fade-in-left" style="font-size:1.5rem">
         "Many of you may be familiar with me; I once held the title of 'The Ruler of Kerala' until Vamanan bro appeared and exiled me to the netherworld. If you're curious to delve deeper into my life story, you'll find it documented on <span><a href="https://en.wikipedia.org/wiki/Mahabali">Wikipedia</a></span> – I've earned quite a bit of fame, you know! 😎"
        </p>  
      </div>
      <div class='col-md-5 text-center circular_image'>
        <img src="https://porfolioformaveli--rohiths19.repl.co/static/images/3.png" class='w-75 img-fluid'>
      </div>
    </div>
  </div>