<div class="container">
  <form action="/job/{{jobs['id']}}/apply" method="post" style="width: 400;">
  <fieldset>
    <legend>Application Form</legend>
    <div class="mb-3">
      <label class="form-label">Name</label>
      <input type="text" required name="full_name" class="form-control" placeholder="Bruce Wayne">
    </div>
    <div class="mb-3">
      <labe class="form-label">Email</label>
      <input type="email" required name="email" class="form-control" placeholder="bruce@wayne.com">
    </div>
    <div class="mb-3">
      <label class="form-label">LinkedIn URL</label>
      <input type="url" name="linkedin_url" class="form-control" placeholder="https://linked.com/in/brucewayne">
    </div>
    <div class="mb-3">
      <label class="form-label">Education</label><br>
     <textarea name="education" class="form-control" placeholder="What are your educational qualifictaions" style="height: 100px"></textarea>
    </div>
     <div class="mb-3">
      <label  class="form-label">Work Experience</label><br>
      <textarea name="work_experience" class="form-control" placeholder="Your Work Experiences" style="height: 100px"></textarea>
    </div>
     <div class="mb-3">
      <label class="form-label">Resume</label>
      <input type="file" name="resume_url" class="form-control" placeholder="">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </fieldset>
</form>
</div>