<div class="container">
  <div class="row p-3">
  <div class="col-md-6">
    <div>
      <img class='w-100 img-fluid' src ="https://porfolioformaveli--rohiths19.repl.co/static/images/1.png" alt="mahabali"/>
    </div>
  </div>
    <div class="col-md-6" style="display: grid;align-content: space-evenly;">
    <p style="
    font-size: 1.5rem;
">"I was once an Asura, a devoted follower of Lord Vishnu, and today, I remain a beloved figure in the enchanting state of Kerala, revered for my wisdom, fairness, and boundless generosity."
    </p>
  </div>
  </div>
   <div class="row p-3">
 <div class="col-md-6" style="display: grid;align-content: space-evenly;">
    <p style="
    font-size: 1.5rem;">"
      As the grandson of Prahlada and the son of Virochana, I received the teachings of the Vedas from my wise grandfather Prahlada and later from my esteemed teacher, Shukracharya."
    </p>
  </div>
    <div class="col-md-6">
       <img class='w-100 img-fluid d-none d-sm-block' src ="https://porfolioformaveli--rohiths19.repl.co/static/images/3.png" alt="mahabali"/>
    </div>
  </div>
  </div>
   <div class="row p-3">
  <div class="col-md-6">
    <div>
      <img class='w-100 img-fluid d-none d-sm-block' src ="https://porfolioformaveli--rohiths19.repl.co/static/images/2.png" alt="mahabali"/>
    </div>
  </div>
<div class="col-md-6" style="display: grid;align-content: space-evenly;">
    <p style="
    font-size: 1.5rem;">"With Shukracharya's guidance, I swiftly conquered the three realms and vanquished Lord Indra, the ruler of the Gods, claiming the heavens as my own."
    </p>
  </div>
  </div>
</div>
