<div class="container">
  <div class="row p-3">
  <div class="col-md-6">
    <div>
      <img class='w-100 img-fluid' src ="https://www.keralatourism.org/uploads/msimages/medium-desktop/mahabali-charitham-1-20220829145305552280.jpg" alt="mahabali"/>
    </div>
  </div>
    <div class="col-md-6" style="display: grid;align-content: space-evenly;">
    <p>Legend has it that Mahabali, the mythical beloved king of Kerala and devotee of Lord Vishnu, was the son of Virochan and the grandson of Prahalad. He was a righteous and charitable man and treated all his subjects equally. There was no poverty, crime or cruelty during his rule. Despite Mahabali being a demon king, the state was at its most glorious phase and his people adored him. 
    </p>
  </div>
  </div>
   <div class="row p-3">
 <div class="col-md-6" style="display: grid;align-content: space-evenly;">
    <p>
      Mahabali’s fame grew with each passing day which enraged the devas. Afraid of losing power, they begged Lord Vishnu to aid them in stopping Mahabali. As a result, Lord Vishnu in his Vamana Avatar (a Brahmin avatar) visited Mahabali, who was doing yagna for Lord Vishnu’s grace.
    </p>
  </div>
    <div class="col-md-6">
      <img class='w-100 img-fluid' src ="https://www.keralatourism.org/uploads/msimages/medium-desktop/mahabali-charitham-2-20220829145259885359.jpg" alt="mahabali"/>
    </div>
  </div>
  </div>
   <div class="row p-3">
  <div class="col-md-6">
    <div>
      <img class='w-100 img-fluid' src ="https://www.keralatourism.org/uploads/msimages/medium-desktop/mahabali-charitham-3-20220829145235655057.jpg" alt="mahabali"/>
    </div>
  </div>
<div class="col-md-6" style="display: grid;align-content: space-evenly;">
    <p>Upon seeing the poor Brahmin boy, Mahabali asked what he desired. The boy responded that he needed land which could be covered in three steps. Mahabali granted the boy’s wish. He began to grow in size, covering the entire universe with the first two steps. Mahabali then realised that it was no ordinary boy before him but Lord Vishnu himself. Seeing that there was no more land left, the king bowed before the boy, offering his head for the next step. Satisfied by the king's devotion, Lord Vishnu blessed Mahabali and sent him to Pathala or the netherworld, with permission to visit his subjects once every year.
    </p>
  </div>
    <div class='p-3'>
      <p>The incident is said to have occurred on the star sign of Thiruvonam in the month of Chingam, and ever since, every year during the 10 days of Onam, the people of Kerala eagerly await their beloved king. The tale of Mahabali’s sacrifice as described in the folk song “Maveli nadu vaneedum kalam” is associated with Onam.</p>
    </div>
  </div>
</div>
