<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="float-area">
                <img class='w-75 img-fluid floating-img'
                    src="https://porfolioformaveli--rohiths19.repl.co/static/images/1.png" alt="mahabali" />
            </div>
        </div>
        <div class="col-md-6" style="display: grid;align-content: space-evenly;">
            <p class="el" style="
      font-size: 1.5rem;
  ">"I was once an Asura, a devoted follower of Lord Vishnu, and today, I remain a beloved figure in the enchanting
                state of Kerala, revered for my wisdom, fairness, and boundless generosity."
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6" style="display: grid;align-content: space-evenly;">
            <p style="
      font-size: 1.5rem;">"
                As the grandson of Prahlada and the son of Virochana, I received the teachings of the Vedas from my wise
                grandfather Prahlada and later from my esteemed teacher, Shukracharya."
            </p>
        </div>
        <div class="col-md-6 d-none d-sm-block">
            <div class="float-area">
                 <img class='w-75 img-fluid floating-img'
                    src="https://porfolioformaveli--rohiths19.repl.co/static/images/3.png" alt="mahabali" />
            </div>
        </div>
    </div>
    <div class="row" style="padding-bottom:2.5rem;">
        <div class="col-md-6">
            <div class="float-area">
                 <img class='w-75 img-fluid floating-img'
                    src="https://porfolioformaveli--rohiths19.repl.co/static/images/2.png" alt="mahabali" />
            </div>
        </div>
        <div class="col-md-6" style="display: grid;align-content: space-evenly;">
            <p style="
        font-size: 1.5rem;">"With Shukracharya's guidance, I swiftly conquered the three realms and vanquished Lord
                Indra, the ruler of the Gods, claiming the heavens as my own."
            </p>
        </div>
    </div>
</div>