<DOCTYPE html>
<html>
  <head>
      <title>ABC Career Wedsite</title>
   {% include "style.html" %}
  </head>
  <body>
   <div class="container">
     {% include 'navbar.html'%}
      <h1 class="mt-2 mb-2">Career Website</h1>
  {% include "banner.html" %}
    <h2 onclick="goToAboutPage()" class="text-center mt-4 mb-4">About Us</h2>
    <h2  class="text-center mb-4 mt-4">Open Positions</h2>
     {% include 'jobs.html' %}
    <div class="text-center mt-4 mb-2">
       <a href="mailto:email@example.com?cc=secondemail@example.com, anotheremail@example.com, &bcc=lastemail@example.com&subject=Mail from our Website&body=Sent in your Query" class="btn btn-primary">Contact Us</a>
    </div>
   {% include "footer.html" %}
   </div>
      <script>
    function goToAboutPage() {
      window.location.href = '/about';
    }
  </script>
  </body>
</html>
