{% include 'header.html'%}

<body class="bg-light">
  {% include 'navbar.html'%}
  <div class="container mt-4 mb-4">
    <div class='row'>
      <div class='col-md-5 text-center'>
        <img class="w-75 img-fluid" src="https://porfolioformaveli--rohiths19.repl.co/static/images/1.png" alt="mahabali"/>
      </div>
      <div class='col-md-7 title' style='display: grid;align-content: center;'>
        <h1>Hi There!</h1>
        
        <h1 class="text-center animate">Welcome to the World of Maveli....</h1>
      </div>
    </div>
  </div>
  {% include 'aboutme.html'%}
 {% include 'social.html'%}
  {% include "footer.html" %}
</body>

