{% include 'header.html'%}

<body class="bg-light">
  {% include 'navbar.html'%}
  <div class="container mt-4 mb-4">
    <h2 class='text-center'>Welcome to the World of Mahabali: The Benevolent Asura King</h2>
    <div class='row'>
      <div class='col-md-5'>
        {% include 'banner.html'%}
      </div>
      <div class='col-md-7' style='display: grid;align-content: space-evenly;'>
        <p class="text-center fs-5">
         Namaste! Welcome to this digital home dedicated to the legendary Mahabali, the benevolent Asura king of ancient Indian mythology. Here, we delve into the rich tales and timeless wisdom surrounding the great ruler, whose story continues to inspire and captivate generations.
        </p>
        
      </div>
    </div>
  </div>
  <div class='container col-md-4 col-sm-8 text-center'>
    {% include 'contact.html'%}
  </div>
  
  {% include "footer.html" %}
</body>
</html>
