<div class="d-flex justify-content-center">
  <div class="row w-50">
       {% for job in jobs %}
    
       <div class="col-md-9">
          <h4>{{job['title']}}</h4>
          <p><b>Location: </b>{{job["location"]}}</p>
          <p><b>Salary: </b>{{job["salary"]}}</p>
        
       </div>
      <div class="col-md-3 align-self-center" style="display:flex; justify-content:center">
          <a href="/job/{{job['id']}}" class="btn btn-outline-primary">Click Here</a>
      </div>
     <span class="mt-3 mb-3 border-bottom"></span>
      {% endfor %}
</div>
</div>

