<div class="d-flex justify-content-center">
  <div class="row w-50">
       {% for job in jobs %}
    
       <div class="col-md-9">
          <h4>{{job['title']}}</h4>
          <p><b>Location: </b>{{job["Location"]}}</p>
          <p><b>Salary: </b>{{job["Salary"]}}</p>
        
       </div>
      <div class="col-md-3 align-self-center" style="display:flex; justify-content:center">
          <a href="mailto:email@example.com?cc=secondemail@example.com, anotheremail@example.com, &bcc=lastemail@example.com&subject=Mail from our Website&body=Enter your mail" class="btn btn-outline-primary">Apply</a>
      </div>
     <span class="mt-3 mb-3 border-bottom"></span>
      {% endfor %}
</div>
</div>

