<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Bootstrap CSS -->
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

<!-- Bootstrap JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <style>
      h1{
        font-family: Roboto, sans-serif;
        text-align: start;
        color: black;
      }
      h2 {
        font-family: 'Montserrat', sans-serif;
        color: rgb(180, 180, 100)
        text-align: center;
      }
       h2:hover {
      cursor: pointer;
    }
      .animate {
        position: relative;
        color: hsl(0, 0%, 68%);
        font-family: 'Roboto', sans-serif;
        overflow: hidden;
        border-right: 2px solid hsl(0, 0%, 80%);
        white-space: nowrap;
        animation: typewriter 4s steps(20) 1s 1 normal both, blinkTextCursor 500ms infinite;
      }
      
      @keyframes typewriter {
        from {
          width: 0;
        }
        to {
          width: 100%; /* Use a percentage value for width */
        }
      }
      
      @keyframes blinkTextCursor {
        from {
          border-right-color: hsl(0, 0%, 80%);
        }
        to {
          border-right-color: transparent; /* Change border color to transparent when blinking */
        }
      }
      
      /* Media query for small screens */
      @media screen and (max-width: 768px) {
        .animate {
          font-size: 31px; /* Adjust font size for smaller screens */
        }
      }
      
      .bodytext {
        font-family: rosybrown; 
        text-align: center; 
        color: rgb(80,90,90)
      }
      #container{
        max-width: 720px;
        margin: 0 auto 0 auto;
      }
      .banner{
        width: 100%;
        height: 420px;
        object-fit: cover;
        
      }
      .bg-image {
      position: relative;
      overflow: hidden;
    }
    .bg-image img {
      transition: transform 0.3s ease;
    }
    .bg-image:hover img {
      transform: scale(1.1);
    }
    </style>