<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Bootstrap CSS -->
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

<!-- Bootstrap JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <style>
      h1{
        font-family: Roboto;
        text-align: center;
        color: grey
      }
      .bodytext {
        font-family: rosybrown; 
        text-align: center; 
        color: rgb(80,90,90)
      }
      h2{
        font-family: Roboto;
        color: rgb(180, 180, 100)
        text-align: center;
      }
       h2:hover {
      cursor: pointer;
    }
      #container{
        max-width: 720px;
        margin: 0 auto 0 auto;
      }
      .banner{
        width: 100%;
        height: 420px;
        object-fit: cover;
        
      }
    </style>